* {
  padding: 0;
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #59565B;
}

.brand {
  padding: 8px;
  position: absolute;
}

a {
  text-decoration: none;
  color: #FFCF92;
  padding: 10px;
}

.navbar ul {
  display: flex;
  float: right;
  list-style-type: none;
  margin-right:10px;
}

.navbar ul li {
  padding: 10px 0 0 0;
}

.img {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-40%, -40%);
  border-radius: 20px;
  margin: 100px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid pink;
}

h1{
  text-align: center;
  padding-top: 25px;
}
.mlist {
  position: absolute;
  left:50%;
  transform: translateX(-70%);
  padding-top: 20px;
  list-style: none;
}
